:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
h1{
    font-size: 2.25rem;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: var(--primary-blue);
}
a:hover{
    text-decoration: underline;
}
.small{
    font-size: 20%;
    text-align: center;
}
.split-screen{
    display: flex;
    flex-direction: column;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    color: #2c4893;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    cursor: pointer;
}
.left .copy{
    color: white;
    text-align: center;
    -webkit-font-smooting: antialiased;
    -mox-osx-font-smooting: graycale;
}
.left p {
    font-weight: 400;
}
.right .copy {
    color: black;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    text-transform: uppercase;

}
.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
    background: #233975;
}

form input[tyepe="text"],
form input[tyepe="email"],
form input[tyepe="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid #c4c4c4;
    padding: 1em;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.input-container .password{
    position: relative;
}
.input-container .password i {
    position: absolute;
    top: 42px;
    right: 16px;
}
.daftar{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.daftar:hover{
    background: #2c4893;
    cursor: pointer;
}
.kembali{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.kembali:hover{
    background: #2c4893;
    cursor: pointer;
}